.workshop-collapse-area {
  width: 100%;
  margin-top: 2em;
  border: 2px solid #ccc;
  border-right: 1em white;
  border-left: 1em white;
  background-color: #eaeaea;
}

.workshop-collapse-background {
  background-color: #eaeaea;
}

.workshop-collapse-text {
  display: flex;
  flex-wrap: wrap;
}