@import '../base/settings.scss';

.container1 {
  min-width: 320px;
  width: 100%;
  margin-bottom: 60px;
}

.page-container1 {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}


@media screen and (min-width: 992px) {
  .page-container1 {
    min-width: 320px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}
