@import '../base/settings.scss';

.workshop-container {
  width: 100%;
  margin-bottom: 80px;
}

.workshop-container-with-links {
  display: flex;
  flex-direction: row;
}

.workshop-page-container-with-links {
  margin-right: 20%;
  padding-left: 5%;
  width: 80%;
}

.workshop-page-container {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (min-width: 992px) {
  .workshop-page-container {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (min-width: 320px) and (max-width: 991px) {
  .workshop-container {
    width: 100%;
    min-width: 320px;
  }
}
