.workshop-footer {
  color: #3a3a3a;
  background-color: #efefef;
  //font-family: 'Noto Serif JP', sans-serif;
  font-family: 'Pangolin', cursive;
  border-top: 0.02em solid rgba(63, 25, 10, 0.79);
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  max-height: 40px;
}

.workshop-footer-text {
  margin: 0;
  padding-top: 5px;
  vertical-align: bottom;
  text-decoration: none;
  display: inline-block;
}

.workshop-footer-link {
  text-align: center;
  text-decoration: none;
  color: #3a3a3a;
}

.workshop-footer-link:hover, .workshop-footer-link:active {
  color: #2d1609;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .workshop-footer {
    height: 40px;
  }

  .workshop-footer-text {
    padding-top: 5px;
    font-size: 3rem;
  }
}