@import '../base/settings.scss';

#logo {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 10px;
  padding-left: 0.7em;
  margin: 0;
}

.workshop-header {
  display: flex;
  width: 100%;
  color: #3a3a3a;
  background-color: #efefef;
  margin: 0;
  font-family: 'Noto Serif JP', sans-serif;
  border-bottom: 0.1em solid #3f190a;
  align-items: center;
  flex-direction: row;
  min-width: fit-content;
}

.workshop-header-text {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
}

.custom-link, .custom-link:hover {
  text-align: center;
  text-decoration: none;
  padding: 1.2em;
}

/* unvisited link */
a:link, a:visited {
  color: #2d1609;
}

/* mouse over link */
.custom-link:hover, .custom-link:active {
  background-color: #2d1609;
  color: #fff;
}
