.workshop-link-to-page {
  margin-top: 4em;
  font-size: 1rem;
  margin-left: 2em;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 118px;
}

@media screen and (min-width: 320px) and (max-width: 990px) {

  .workshop-link-to-page {
    margin-top: 1em;
    font-size: 1rem;
    margin-left: 2em;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    width: 90%;
  }

}

