.workshop-registration-form-row {
  margin: 0.5em 0 0.5em 1em;
  width: 100%;
  letter-spacing: 0.8px;
}

label {
  padding-right: 1em;
}

.workshop-registration-input {
  border: 1.5px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding-left: 0.5em;
  letter-spacing: 0.8px;
}