table {
  width: 100%;
}

td {
  background: #eee;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9rem;
  letter-spacing: 0.8px;
}

th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
  letter-spacing: 0.8px;
}

tfoot th {
  padding-top: 2em;
  padding-bottom: 1em;
  border: none;
}

