.workshop-cart-col {
  border: white solid 1.2px;
  background-color: #eaeaea;
  text-align: center;
  //only for wide screens
  display: flex;
  align-items: center;
}

.workshop-cart-col-header {
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  text-align: center;
  letter-spacing: 0.8px;
}

.workshop-cart-col-footer {
  font-weight: bold;
  margin: 1em 0 0.5em 0;
  text-align: left;
  letter-spacing: 0.8px;
}

.grommetux-number-input {
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 3.1em;
  border: 1px solid #ccc;
  background-color: white;
}

.grommetux-button {
  height: 100%;
  background-color: white;
  border: none;
  opacity: 0.4;
}

.grommetux-button:hover {
  opacity: 1;
}

.grommetux-input {
  height: 100%;
  border: none;
}


