html {
  margin: 0;
  min-width: fit-content;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #ffffff;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
  margin-bottom: 1em;
}

h2 {
  padding: 2em 0 1.5em 0;
  letter-spacing: 2px;
}

input[type=number] {
  padding-left: 1em;
}

p {
  font-size: large;
  letter-spacing: 1px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 0;
  justify-content: space-around;
}

@media screen and (min-width: 319px) and (max-width: 991px) {

  .workshop-title {
    font-size: 1.5rem;
  }

  h2 {
    padding: 0.7em 0 0.5em 0;
    letter-spacing: 1px;
  }

  li {
    list-style-type: none;
    margin-bottom: 0.5em;
    margin-left: 0;
  }
}


